.force-graph svg {
    height: 100%;
    min-width: 200px;
    transition: all 0.3s ease-out; /* transition 효과 추가 */
}

.force-graph .links line {
    stroke: #fa0000;
    stroke-linecap: round;
}

.force-graph .nodes circle {
    pointer-events: all;
    will-change: transform;
}

.force-graph .nodes circle:hover,
.force-graph .nodes circle:focus {
    transform: scale(1.2);
}

.force-graph.highlight svg {
    transform: scale(1.1); /* 변경할 스타일을 클래스로 빼서 사용 */
}