.feed {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}


.feed-pos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #282c34;
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    max-width: 600px;
}

.feed-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
    width: 100%;
}

.feed-header h3 {
    margin: 0;
    font-size: 1.5rem;
    color: #6667ab;
}

.feed-header p {
    margin: 0;
    font-size: 0.8rem;
    color: #888;
}

.feed-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
}

.feed-content p {
    margin: 0;
    font-size: 1rem;
    color: #a3a4cd;
}

.feed-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.feed-footer button {
    background-color: transparent;
    border: none;
    color: #888;
    font-size: 0.8rem;
    cursor: pointer;
}

.feed-footer .btn-open {
    color: #007bff;
}